[Unit]
Description=Resmon Monitoring Daemon
Documentation=http://labs.omniti.com/labs/resmon
After=network.target

[Service]
Type=forking
ExecStart=/opt/resmon/resmon -r /run/resmon.pid
Restart=on-failure
PIDFile=/run/resmon.pid
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
